*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 10px;
}

.to-do{
    margin: 100px auto 20px;
    background-color: white;
    padding: 40px 30px 70px;
    width: 100%;
    max-width: 540px;
    border-radius: 10px;
}

h2{
    font-size: 35px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    column-gap: 7px;
}
img{
    height: 43px;
    width: 43px;
    margin-left: 10px;
}

.row{
    background-color: rgb(230, 223, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    border-radius: 30px;
    border: 2px solid rgb(156,83,197);
    margin-bottom: 25px;
    
}

input{
    flex: 1;
    height: 5vh;
    border-radius: 10px;
    border: none;
    font-size: large;
    text-align: center;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgb(156,83,197);
    color: white;
    cursor: pointer;
    padding: 16px 50px;
    font-size: 16px;
}

button:hover{
    background-color: rgb(4,170,109);
}

li{
    font-size: 17px;
    cursor: pointer;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    list-style: none;
}

li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 5px;
    left: 8px;
}

.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    background-image: url(./images/checked.png);
    
}

span{
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    line-height: 40px;
    color: #555;
    text-align: center;
}
span:hover{
    background-color: red;
    border-radius: 50%;
}

